body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: -apple-system,BlinkMacSystemFont,"Plus Jakarta Sans","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  word-wrap: break-word;
}

.container {
  background-color: #000000;
  margin: 5% auto;
  padding: 40px;
  border-radius: 8px;
  width: 80%;
  overflow-y: auto;          
}

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  margin-bottom: 0.5em;
}

p, ol, ul {
  margin-bottom: 1em;
  color: #FFFFFF;
}

code {
  background-color: #0d1117;
  border: 1px solid #30363d;
  border-radius: 6px;
  padding: 2px 6px;
  color: #FFFFFF;
  font-size: 1rem;
}

blockquote {
  border-left: 4px solid #30363d;
  padding-left: 15px;
  color: #c9d1d9;
}

a {
  color: #1f6feb;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}